.box-card{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    .card{
        width: 100%;
        height: 380px;
        /* background-color: yellow; */
        cursor: pointer;
        .image{
            width: 100%;
            height: 70%;
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                transition: all ease-in-out 0.3s;
            }

        }
        .title{
            width: 100%;
            height: 30%;
            padding: 10px;
        }
    }
    .card:hover .image img{
        transform: scale(1.05);
        
    }
}